<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">

</head>

<body id="app-container">
    <div class="container">
        <!-- DICE VALUES -->
        <div class="count-row">
            <div class="center">
                <div class="d-count"><img src="/assets/count4.png" alt=""><br></div>
                <div class="d-count"><img src="/assets/count6.png" alt=""></div>
                <div class="d-count"><img src="/assets/count8.png" alt=""></div>
                <div class="d-count"><img src="/assets/count10.png" alt=""></div>
                <div class="d-count"><img src="/assets/count12.png" alt=""></div>
                <div class="d-count"><img src="/assets/count20.png" alt=""></div>
            </div>

        <!-- DICE COUNT -->
        <div class="center">
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
            <div class="n-count">
                <img src="/assets/num0.png" alt="">
                <img src="/assets/num0.png" alt="">
            </div>
        </div>
    </div>


        <!-- DICE SELECTORS -->
        <div class="center selection-row">
            <div id="left-arrow">
                <img src="/assets/buttonleftarrow.png" alt="">
            </div>
            <div>
                <img id="" src="/assets/name20.png" alt="">
            </div>
            <div id="right-arrow">
                <img  src="/assets/buttonrightarrow.png" alt="">
            </div>
        </div>

        <!-- DICE CHOICE -->
        <div class="center display-row">
            <div id="minus-button"><img src="/assets/buttonminus.png" alt=""></div>
            <div><img src="/assets/d20sprite.png" alt=""></div>
            <div id="plus-button"><img src="/assets/buttonplus.png" alt=""></div>
        </div>

        <!-- ROLL BUTTON -->
        <div class="center button-row">
            <div id="roll-button">
                <img src="/assets/buttonroll.png" alt="">
            </div>
        </div>

        <!-- OPTIONS -->
        <div class="space-between options-row">
            <div id="q-button">
                <img src="/assets/buttonQ.png" alt="">
            </div>
            <div id="x-button">
                <img src="/assets/buttonX.png" alt="">
            </div>
        </div>

    </div>
    </div>


</body>

</html>