body,
html {
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    max-width: 400px;
    height: 600px;
    max-height: 600px;
    background-color: #221c1a;
    border: 1px solid black;
    box-sizing: border-box;
}


.center {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.space-between {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.d-count {
    padding-left: 5px;
    padding-right: 5px;
}

.n-count {
    padding-left: 10px;
    padding-right: 10px;
}

.count-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selection-row {
    margin-top: 30px;
    margin-bottom: 15px;
}

.display-row {
    margin-top: 15px;
    margin-bottom: 25px;
} 

.button-row{
    margin-bottom: 20px;
}

.options-row{

}

#left-arrow {
    margin-right: 40px;
}

#right-arrow {
    margin-left: 40px;
}

#minus-button {
    margin-right: 20px;
}

#plus-button {
    margin-left: 20px;
}

#roll-button {
}

#q-button {
    margin-left: 10px;
    margin-bottom: 10px;
}

#x-button {
    margin-right: 10px;
    margin-bottom: 10px;
}